[submodule "_raspberrypi"]
	path = _raspberrypi
	url = https://github.com/manuscripts/raspberrypi
[submodule "_markdown-lint"]
	path = _markdown-lint
	url = https://github.com/manuscripts/markdown-lint
[submodule "_dr-jekyll-and-mr-hyde"]
	path = _dr-jekyll-and-mr-hyde
	url = https://github.com/manuscripts/dr-jekyll-and-mr-hyde
[submodule "markdown-tools"]
	path = _data/markdown_tools
	url = https://github.com/manuscripts/markdown-tools
