---
layout: default
title:  Raspberry Pi Documentation (Book Edition)
---

{% assign book           = site.data.raspberrypi.book %}
<!-- todo: check - can we use book.contents - why? why not? -->
{% assign book_contents  = site.data.raspberrypi.contents %}


<!-- cover -->

<h1>{{ book.title }}</h1>
<h3>by {{ book.author.name }}</h3>

<!-- table of contents -->

Contents

<!-- chapters -->

{% for part in book_contents %}
  {% assign part_index = forloop.index %} 
  <h1 class="part">Part {{ part_index }} - {{ part.title }}</h1>

  <!-- try adding content using include_relative -->
  {% capture txt %}{% include_relative _raspberrypi/{{part.path}} %}{% endcapture %}
  {{ txt | markdownify }}

  
  {% for chapter in part.sections %}
    {% assign chapter_index = forloop.index %} 
<div class="chapter">
  <h1>Chapter {{ part_index }}.{{ chapter_index }} - {{ chapter.title }}</h1>

  {% if chapter.sections %}
    {% for sec in chapter.sections %}
      {% assign sec_index = forloop.index %} 
    
      <h2>Section {{ part_index }}.{{ chapter_index }}.{{ sec_index }} - {{ sec.title }}</h2>

      {% if sec.sections %}
        {% for subsec in sec.sections %}
        {% assign subsec_index = forloop.index %} 

        <h3>Subsection {{ part_index }}.{{ chapter_index }}.{{ sec_index }}.{{ subsec_index }} - {{ subsec.title }}</h3>

        {% endfor %}
      {% endif %}
    
    {% endfor %}
  {% endif %}
</div>
  {% endfor %}

{% endfor %}
